body {
    background: rgb(174, 213, 174) url("Images/Background_home.png") no-repeat center/cover fixed;
    font-family: 'Poppins', sans-serif;
}

.history-page{
    background: rgb(174, 213, 174) url("Images/history-bg.png") no-repeat center/cover fixed;
}

.quiz-page{
    background: rgb(174, 213, 174) url("Images/quiz_start.png") no-repeat center/cover fixed;
}

.map-page{
    background: rgb(174, 213, 174) url("Images/map_bg.png") no-repeat center/cover fixed;
}

.about-page{
    background: rgb(174, 213, 174) url("Images/about.bg.png") no-repeat center/cover fixed;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 55px;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.logo {
    display: block;
    margin: 0 auto; /* Centers the logo */
    width: 250px; /* Adjust size as needed */
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 53%;
    transform: translateX(-50%); /* Ensures it's perfectly centered */
    z-index: 1001; /* Ensures it stays above the navbar */
}

/* Navbar */
.navbar {
    position: fixed;
    top: 10px;
    left: 20%;
    right: 15%;
    padding: 20px;
    border-radius: 20px;
    background-color: #0C2E35;
    z-index: 1000;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.navbar nav a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #E00096;
    box-shadow: 0 4px 0px #FF8ED9;
    min-width: 80px;
}

.navbar nav a:hover {
    background-color: #FF8ED9;
    box-shadow: 0 4px 0px #E00096;
}

/* Language Option */
.languageOption {
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 1000;
}

.languageOption button {
    margin: -10px 0 0 -100px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.languageOption button:hover{
    background-color: rgba(117, 117, 117, 0.5);
    border-radius: 20px;
    
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 200px auto 30px;
}

/* Greeting Section */
.greeting {
    width: 45%;
    color: white;
    font-size: 30px;
    text-align: left;
    max-width: 700px;
    margin-top: -80px;
}

.greeting h1 {
    font-size: 80px;
    font-family: 'DynaPuff', cursive;
}

.greeting h3 {
    margin-bottom: -40px;
}

.greeting p {
    margin-top: -40px;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

/* Informations Section */
.informations {
    width: 45%;
    font-size: 29px;
    text-align: right;
    padding-top: 30px;
}

.informations h2 {
    color: white;
    font-weight: bold;
    font-family: 'DynaPuff', cursive;
    margin: 10px -80px 10px 10px;
    text-align: right;
}

/* Map Container */
.map-container img {
    width: 115%;
    height: 330px;
    border: 15px solid #FFCF68;
    border-radius: 20px;
}

/* Media Container */
.media-container {
    display: flex;
    gap: 0px;
    margin-top: 20px;
}

.media-container model-viewer {
    width: 100%;
    height: 280px;
    border: 15px solid #FFCF68;
    border-radius: 20px;
    background-color: grey;
}

.media-container img {
    width: 190%;
    max-width: 200%;
    height: auto;
}


/* History Page */
.quiz-button a{
    display: inline-block;
    padding: 10px 60px;
    margin: 0 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FF8ED9;
    box-shadow: 0 4px 0px #fe5fc9;  
    min-width: 80px;
}

.history-image{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.greeting-history{
    margin-top: 350px;
}


/* Quiz Page */

.greeting-quiz{
    width: 45%;
    color: white;
    font-size: 15px;
    text-align: left;
    max-width: 700px;
    margin-top: -180px;
}

.greeting-quiz h1{
    font-family: 'DynaPuff', cursive;
    font-size: 80px;
}

.greeting-quiz h3{
    margin-top: -40px;
    font-family: 'DynaPuff', cursive;
    font-size: 30px;
}

.greeting-quiz p{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.greeting-quiz button {
    display: inline-block;
    padding: 10px 60px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    min-width: 80px;
    background-color: #3579e0;
    box-shadow: 0 4px 0px #1f54a4;  
}

.quiz-image-container{
    width: 80%;
    height: 80%;
}


/* Map Page */

.map-site-container {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* Adjust the width as needed */
}

.map-site-container h1 {
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
    margin-top: 50px;
}

.map-site-container p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.map-site-container img{
    margin-top: 20px;
    width: 100%;
}


/* Gallery Page */

.gallery-container {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: fit-content; /* Adjust the width as needed */
}

.gallery-container img{
    margin-top: 100px;
    width: 100%;
    height: 400px;
}


/* About Page */

.about-us{
    width: 60%;
    color: white;
    font-size: 30px;
    text-align: left;
    max-width: 700px;
    margin-top: 30px;
}

.about-us h1{
    font-size: 80px;
    font-family: 'DynaPuff', cursive;
    margin-bottom: -10px;
}

.about-us p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.about-image{
    width: 110%;
    height: 500px;
    border: 15px solid #dc68ff;
        border-radius: 20px;
}








































































@media (max-width: 1366px) {
    .header {
        width: 90%;
        padding: 60px;
    }

    .logo{
        width: 150px;
    }
    
    /* Navbar */
    .navbar {
        position: fixed;
        top: 10px;
        left: 15%;
        right: 15%;
        padding: 20px;
        border: 2px solid #6b6b6b;
        border-radius: 30px;
        background-color: #292929;
    }
    
    .navbar nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .navbar nav a {
        display: inline-block;
        padding: 10px 5px;
        margin: 0 30px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-family: 'DynaPuff', cursive;
        font-size: 15px;
        font-weight: bold;
        border: 5px solid #583b56;
        border-radius: 20px;
        background-color: #df8dd9;
        min-width: 80px;
    }
    
    .languageOption button {
        margin: -10px 0 0 -80px;
    }
    
    /* Content Wrapper */
    .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 200px auto 0px;
        padding-right: 30px;
    }
    
    /* Greeting Section */
    .greeting {
        width: 45%;
        color: white;
        font-size: 15px;
        text-align: left;
        max-width: 700px;
        margin-top: -80px;
    }
    
    .greeting h1 {
        font-size: 50px;
        font-family: 'DynaPuff', cursive;
    }
    
    .greeting h3 {
        margin-bottom: -20px;
    }
    
    .greeting p {
        margin-top: -20px;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 1.5px;
    }
    
    /* Informations Section */
    .informations {
        width: 45%;
        font-size: 16px;
        text-align: right;
        padding-top: 30px;
    }
    
    .informations h2 {
        color: white;
        font-weight: bold;
        font-family: 'DynaPuff', cursive;
        margin: 0px -130px 20px 10px;
        text-align: right;
    }
    
    /* Map Container */
    .map-container img {
        width: 130%;
        height: 190px;
        border: 15px solid #FFCF68;
        border-radius: 20px;
    }
    
    /* Media Container */
    .media-container {
        display: flex;
        gap: 0px;
        margin-top: 20px;
    }
    
    .media-container model-viewer {
        width: 150%;
        height: 170px;
        border: 15px solid #FFCF68;
        border-radius: 20px;
        background-color: grey;
    }
    
    .media-container img {
        margin-left: -10px;
        width: 200%;
        max-width: 400%;
        padding-left: 30px;
        height: auto;
    }
}



