body {
  background: rgb(82 128 51) url("Images/Background_home.png") no-repeat
    center/cover fixed;
  font-family: "Poppins", sans-serif !important;
  font-size: 100%;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a,
button {
  font-size: 1.25rem;
}

.history-page {
  background: rgb(14, 112, 238);
  margin: 0;
  scroll-snap-type: x mandatory;
}

.quiz-page {
  background: rgb(224 98 179) url("Images/quiz_start.png") no-repeat
    center/cover fixed;
}

.map-page {
  background: rgb(82 128 51) url("Images/map_bg.png") no-repeat center/cover
    fixed;
}

.about-page {
  background: rgb(0 112 240) url("Images/about.bg.png") no-repeat center/cover
    fixed;
}

.gallery-page {
  background: rgb(82 128 51) url("Images/gallery_bg.png") no-repeat center/cover
    fixed;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 55px; */
  backdrop-filter: blur(5px);
  z-index: 999;
  height: 98px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 15rem; /* ✅ Adjust if necessary */
  position: absolute;
  transform: translateX(-100%) scale(1); /* ✅ Ensure default scale is 1 */
  z-index: 1001;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.2s ease-out;
  top: -15px;
  left: 50%;
  margin-left: 15px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 10px;
  left: 10%;
  right: 10%;
  padding: 25px;
  border-radius: 20px;
  background-color: #0c2e35;
  z-index: 1000;
  width: 80vw;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.navbar nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 30px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: "DynaPuff", cursive !important;
  /* font-size: 20px; */
  font-weight: bold;
  border-radius: 10px;
  background-color: #e00096;
  box-shadow: 0 4px 0px #ff8ed9;
  min-width: 120px;
}

.navbar nav a:hover {
  background-color: #ff8ed9;
  box-shadow: 0 4px 0px #e00096;
}

/* Language Option */
.languageOption {
  position: fixed;
  top: 30px;
  left: 90vw;
  z-index: 1000;
}

.languageOption button {
  /* font-family: sans-serif; */
  font-weight: 800;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.languageOption button:hover {
  background-color: rgba(117, 117, 117, 0.5);
  border-radius: 20px;
}

/* Content Wrapper */
.content-wrapper {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 80%; */
  max-width: 100%;
  padding: 200px 80px 0;
  height: 100%;
  /* margin: 200px 0 30px; */
}

/* Greeting Section */
.greeting {
  /* width: 45%; */
  color: white;
  /* font-size: 30px; */
  text-align: left;
  /* max-width: 700px; */
  /* margin-top: -80px; */
}

.greeting h1 {
  /* font-size: 80px; */
  font-family: "DynaPuff", cursive !important;
  font-weight: 600;
}

.greeting h3 {
  /* margin-bottom: -40px; */
}

.greeting p {
  /* margin-top: -40px; */
  /* font-size: 30px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
}

/* Informations Section */
.informations {
  /* width: 45%; */
  /* font-size: 29px; */
  text-align: right;
  padding-top: 30px;
}

.informations h2 {
  color: white;
  font-weight: bold;
  font-family: "DynaPuff", cursive !important;
  margin: 10px -80px 10px 10px;
  text-align: right;
}

/* Map Container */
.map-container img {
  width: 100%;
  /* height: 330px; */
  border: 15px solid #ffcf68;
  border-radius: 20px;
}

/* Media Container */
.media-container {
  /* display: flex;
  gap: 0px; */
  margin-top: 20px;
}

.Image-Model img {
  /* width: 100%; */
  /* background-color: #6b6b6b; */
  /* padding: 20px; */
  /* margin-right: 300px; */
  /* max-height: 290px; */
  border: 15px solid #ffcf68;
  border-radius: 20px;
  /* min-height: 25vh; */
  /* object-fit: cover; */
  /* box-sizing: content-box; */
  /* height: 100%; */
}

.gallery-image img {
  width: 140%;
  /*height: auto;
  padding-left: 50px; */
}

.model-card {
  width: 310px;
}

/* History Page */
.quiz-button a {
  display: inline-block;
  padding: 10px 60px;
  margin: 0 30px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: "DynaPuff", cursive;
  /* font-size: 20px; */
  font-weight: bold;
  border-radius: 10px;
  background-color: #e00096;
  box-shadow: 0 4px 0px #fe5fc9;
  min-width: 80px;
}

.quiz-button a:hover {
  background-color: #fe5fc9;
  box-shadow: 0 4px 0px #e00096;
}

.history-image {
  height: 250px;
  width: 3000px;
  border-radius: 33px;
}

.greeting-history {
  /* margin-top: 350px; */
  /* margin-left: 100px; */
}

.history-text-container article > p {
  /* font-size: 20px; */
}

/* Quiz Page */

.greeting-quiz {
  /* width: 45%; */
  color: white;
  /* font-size: 15px; */
  text-align: left;
  max-width: 700px;
  /* margin-top: -180px; */
}

.greeting-quiz h1 {
  font-family: "DynaPuff", cursive;
  /* font-size: 70px; */
}

.greeting-quiz h3 {
  margin-top: -40px;
  font-family: "DynaPuff", cursive;
  /* font-size: 30px; */
}

.greeting-quiz p {
  /* font-size: 30px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.greeting-quiz a {
  display: inline-block;
  padding: 10px 60px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: "DynaPuff", cursive;
  /* font-size: 20px; */
  font-weight: bold;
  border: none;
  border-radius: 10px;
  min-width: 80px;
  background-color: #3579e0;
  box-shadow: 0 4px 0px #1f54a4;
}

.greeting-quiz a:hover {
  background-color: #1f54a4;
  box-shadow: 0 4px 0px #3579e0;
}

.quiz-image-container {
  /* margin-top: 150px; */
  /* margin-left: 100px; */
  /* width: 435px; */
  /* height: 425px; */
  height: 100%;
  border: 10px solid #ffcf68;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.quiz-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Map Page */

.map-site-container {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; Adjust the width as needed */
  /* font-size: 100px; */
}

.map-site-container h1 {
  font-family: "DynaPuff", cursive;
  /* font-size: 50px; */
  margin-top: 50px;
  font-weight: 600;
}

.map-site-container p {
  /* font-size: 20px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
}

.map-site-container img {
  /* margin-top: 20px; */
  /* width: 100%; */
}

#map {
  /* padding-left: 10rem; */
}

/* Gallery Page - Fixed */

#carousel {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 250px auto 0; /* Pushes carousel below navbar */
  overflow: hidden;
  z-index: 1;
}

#carousel div {
  position: absolute;
  transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
  opacity: 1;
}

#carousel div img {
  width: 400px;
  transition: width 400ms;
  -webkit-user-drag: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}

/* Positioning Items */
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel img:hover {
  cursor: pointer;
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.selected img {
  border: 5px solid yellow;
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.7); /* optional glow */
}

/* image descriptions */

.image-description {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  /* font-size: 16px; */
  width: 500px;
}

#carousel div img {
  display: block;
  margin: 0 auto;
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

/* Buttons Styling */

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-family: "DynaPuff", cursive;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background: #e00096;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* About Page */

.about-us {
  /* width: 60%; */
  color: white;
  /* font-size: 30px; */
  text-align: left;
  /* max-width: 600px; */
  margin-top: 30px;
}

.about-us h1 {
  /* font-size: 80px; */
  font-family: "DynaPuff", cursive;
  /* margin-bottom: -10px; */
  font-weight: 600;
}

.about-us p {
  /* font-size: 20px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.about-image {
  width: 100%;
  /* height: 500px; */
  border: 15px solid #dc68ff;
  border-radius: 20px;
}

/* Card CSS */

* {
  box-sizing: border-box;
}

.card {
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  /* transform: rotate3d(0); */
}

.card:hover {
  transition-duration: 150ms;
}

/* The Quiz Page */
.quiz-page .content-wrapper {
  margin-top: 5rem;
}

.quiz-container {
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 200px;
  padding: 20px;
}

.quiz-container h1 {
  text-align: left;
  font-family: "DynaPuff", cursive;
  /* font-size: 70px; */
  margin-bottom: 30px;
}

.small-number {
  font-size: 0.5em;
}

.question {
  font-size: 1.75rem;
  padding: 80px;
  font-weight: bold;
  margin-bottom: 50px;
  border-radius: 30px;
  background: white;
  color: black;
  border: 10px solid #ffcf68;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 30px; */
  /* margin-top: 120px; */
  /* margin-bottom: 20px; */
}

.options button {
  font-family: "DynaPuff", cursive;
  padding: 15px;
  /* font-size: 20px; */
  font-weight: bold;
  border: 5px solid #000000;
  border-radius: 60px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 4px 0px #424242;
  transition: 0.3s;
  width: 100%;
}
.options button:hover {
  background: #ddd;
}

.question-button {
  font-family: "DynaPuff", cursive;
  padding: 15px;
  /* font-size: 20px; */
  font-weight: bold;
  border: 5px solid #000000;
  border-radius: 60px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 4px 0px #424242;
  transition: 0.3s;
  width: 100%;
}
.question-button:hover {
  background: #ddd;
}

.correct {
  background: #28a745 !important;
  color: white !important;
}
.wrong {
  background: #dc3545 !important;
  color: white !important;
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.Congratulations {
  /* width: 60%; */
  color: white;
  /* font-size: 30px; */
  text-align: left;
  max-width: 700px;
  /* margin-top: 30px; */
}

.Congratulations h1 {
  font-family: "DynaPuff", cursive;
  /* font-size: 60px; */
  margin-bottom: -15px;
}

.Congratulations h2 {
  font-family: "DynaPuff", cursive;
  /* font-size: 30px; */
}

.Congratulations p {
  /* font-size: 25px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
  max-width: 600px;
}

.Congratulations button {
  font-family: "DynaPuff", cursive;
  padding: 30px;
  /* font-size: 20px; */
  font-weight: bold;
  border: 5px solid #000000;
  border-radius: 60px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 4px 0px #424242;
  transition: 0.3s;
  max-width: 400px;
}

.Congratulations button:hover {
  background: #5a5a5a;
}

.Congratulations a {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 60px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: "DynaPuff", cursive;
  /* font-size: 20px; */
  font-weight: bold;
  border: none;
  border-radius: 10px;
  min-width: 80px;
  background-color: #3579e0;
  box-shadow: 0 4px 0px #1f54a4;
  width: 400px;
}

.Congratulations a:hover {
  background-color: #1f54a4;
  box-shadow: 0 4px 0px #3579e0;
}

.Congratulations-image {
  /* width: 100%; */
  /* font-size: 16px; */
  text-align: right;
  padding-top: 30px;
}

.winner-image {
  margin-top: 70px;
  width: 100%;
  height: auto;
  border: 15px solid #ffcf68;
  border-radius: 40px;
}

.winner {
  display: none;
  /* margin-top: 250px; */
}

.loser {
  display: none;
  /* margin-top: 250px; */
}

/* 3D model page */

/* Ensure the container has a vertical layout */
.content-wrapper-3D {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* Space between sections */
}

/* Map site container remains as is */
.map-site-container-3D {
  padding-top: 200px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.map-site-container-3D h1 {
  font-family: "DynaPuff", cursive;
  /* font-size: 50px; */
  margin-top: 50px;
  font-weight: 600;
}

.map-site-container-3D p {
  margin-top: -20px;
  /* font-size: 18px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
  max-width: 10000px;
  margin-left: auto;
  margin-right: auto;
}

/* Flex container for instructions and image */
.instructions-image-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  gap: 30px; /* Space between instructions and image */
}

/* Instructions section */
.instructions {
  /* margin-top: -40px; */
  color: white;
  max-width: 500px;
  /* margin-right: 100px; */
}

.instructions h2 {
  font-family: "DynaPuff", cursive;
  /* font-size: 40px; */
  margin-bottom: -40px;
}

.instructions p {
  font-family: "Poppins", sans-serif;
  /* font-size: 18px; */
  line-height: 1.5;
  letter-spacing: 1.5px;
  background-color: #0c2e35;
  padding: 30px;
  border-radius: 20px;
}

/* Styling for image */
.sketchfab-embed-wrapper iframe {
  width: 100%; /* Adjust the width */
  border: 15px solid #ffcf68;
  height: 550px; /* Adjust the height */
  border-radius: 20px; /* Optional: Rounded corners */
  margin-top: -20px; /* Add space above the model */
  background-color: white; /* Background color when model is not loaded */
}

@media (max-width: 1366px) {
  .content-wrapper {
    /* padding-top: 5vh; */
  }
}
/* Navbar
.navbar {
  padding: 20px;
  border-radius: 30px;
  background-color: #0c2e35;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

/* .navbar nav a {
    display: inline-block;
    padding: 10px 5px;
    margin: 0 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: "DynaPuff", cursive;
    font-size: 15px;
    font-weight: bold;
    border: 5px solid #583b56;
    border-radius: 20px;
    background-color: #df8dd9;
    min-width: 80px;
  } */

.languageOption button {
  margin: -10px 0 0 -80px;
}

/* Content Wrapper */
/* .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 200px auto 0px;
    padding-right: 30px;
  } */

/* Greeting Section */
.greeting {
  /* width: 45%; */
  color: white;
  /* font-size: 15px; */
  text-align: left;
  max-width: 700px;
  /* margin-top: -80px; */
  scroll-snap-align: start;
}

.greeting h1 {
  /* font-size: 5em; */
  font-family: "DynaPuff", cursive;
  font-weight: 600;
}

.greeting h3 {
  /* margin-bottom: -20px; */
}

.greeting p {
  /* margin-top: -20px; */
  /* font-size: 1.5rem; */
  line-height: 1.5;
  letter-spacing: 1.5px;
}

/* Informations Section */
.informations {
  /* width: 45%; */
  /* font-size: 16px; */
  text-align: right;
  padding-top: 25px;
}

.informations h2 {
  color: white;
  font-weight: bold;
  font-family: "DynaPuff", cursive;
  margin: 0px -130px 20px 10px;
  text-align: right;
}

.informations article p {
  /* font-size: 20px; */
}

/* Map Container */
.map-container img {
  /* width: 130%; */
  /* height: 190px; */
  border: 15px solid #ffcf68;
  border-radius: 20px;
  object-fit: cover;
  min-height: 30vh;
}

/* Media Container */
.media-container {
  /* display: flex; */
  /* gap: 0px; */
  margin-top: 20px;
}

.media-container model-viewer {
  width: 150%;
  height: 170px;
  border: 15px solid #ffcf68;
  border-radius: 20px;
  background-color: grey;
}

.media-container img {
  margin-left: -10px;
  width: 200%;
  max-width: 400%;
  padding-left: 30px;
  height: auto;
}

#map-image {
  position: absolute;
  z-index: -1;
  width: 957px;
  top: 425px;
  left: 425px;
}

.popup-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 10px;
  background: #ffffff;
  border: 4px solid #0c2e35;
  border-radius: 90px;
  margin: 0 auto;
  display: block;

  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;

  color: #0c2e35;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem 0;

  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  transition: padding 0.25s ease;
}

.popup-button:hover {
  padding: 1.1rem 10px;
  /* margin-bottom: 0; */
  cursor: pointer;
  transition: padding 0.25s ease;
  background-color: #ddd;
}

#castillo-button a {
  text-decoration: none;
}

#castillo-button {
  position: relative;
  top: 140px;
  left: 575px;
}

#castillo-button .popup-button {
  position: relative;
  top: -115px;
  left: -100px;
}

#jaguars-button {
  position: relative;
  top: 85px;
  left: 235px;
}

#jaguars-button .popup-button {
  position: relative;
  top: -120px;
  left: -155px;
}

#el-caracol-button {
  position: relative;
  left: 255px;
  top: 510px;
}

#el-caracol-button .popup-button {
  position: relative;
  top: -155px;
  left: 90px;
}

#group-columns-button {
  position: relative;
  top: 290px;
  left: 700px;
}

#cenote-button {
  position: relative;
  top: 50px;
  left: 950px;
}

#cenote-button .popup-button {
  position: relative;
  top: -105px;
  left: -120px;
}

#columns-button {
  position: relative;
  top: -90px;
  left: 20px;
}

#columns-button .popup-button {
  position: relative;
  top: -30px;
  left: 10px;
}

#venus-button {
  position: relative;
  top: 175px;
  left: 890px;
}

#venus-button .popup-button {
  position: relative;
  top: -40px;
  left: 130px;
}

#warriors-button {
  position: relative;
  top: -270px;
  left: 250px;
}

#warriors-button .popup-button {
  position: relative;
  top: -75px;
  left: 105px;
}

.fade-in {
  animation: fadeIn 0.25s ease-in;
}

.history-fade-in {
  animation: historyFade 0.25s ease-in;
}

.map-popup {
  transform: translateY(-400px) translateX(100px);
  cursor: default;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-250px) translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(-400px) translateX(100px);
    opacity: 1;
  }
}

@keyframes historyFade {
  0% {
    transform: translateY(-50px) translateX(-207px);
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) translateX(-207px);
    opacity: 1;
  }
}

.info-popup {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px;
  gap: 10px;
  z-index: 100001 !important;
  position: absolute;

  background: #0c2e35;
  border-radius: 30px;
  font-weight: 500;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  width: 345px;

  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
}

.info-popup b {
  font-weight: 700;
}

.hidden {
  display: none;
}

.popup-paragraph {
  font-size: 1.25rem !important;
  color: white;
  margin: 0;
}

.popup-image {
  width: 100%;
  height: 100%;
}

.popup-credits {
  font-size: 1.1rem;
  color: #aeaeae;
  font-style: italic;
  margin: 0;
}

.popup-credits a {
  font-size: 1.1 rem;
}

.popup-close {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 2px solid #0c2e35;
  border-radius: 90px;
  position: absolute;
  top: 0px;
  right: -60px;
  background: #ffffff;
  cursor: pointer;
  --bs-btn-close-opacity: 1;
}

.popup-close:hover {
  background: #ddd;
}

.location-container > img {
  animation: land 0.25s ease-out;
}

.location-container > img:hover {
  animation: float 0.25s ease-in;
  animation-fill-mode: forwards;
}

.location-container > button {
  animation: land 0.25s ease-out;
}

.location-container > button:hover {
  animation: float 0.25s ease-in;
  animation-fill-mode: forwards;
}

#castillo-button {
  animation: land 0.25s ease-out;
}

#castillo-button:hover {
  animation: float 0.25s ease-in;
  animation-fill-mode: forwards;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes land {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  /* font-size: 16px; */
  border: none;
}

.languageOption {
  font-size: 1.1rem;
}

.languageOption a {
  font-size: 1.1rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #0c2e35;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  font-weight: 800;
}

.dropbtn {
  color: #0c2e35;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  font-weight: 800;
  min-width: 95px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-content {
  border-radius: 20px;
}

.dropdown > button {
  border-radius: 20px;
}

.lang-icon {
  border-radius: 20px;
  border: 2px solid #0c2e35;
  margin: 2px;
  color: #0c2e35;
}

.dropdown-content span {
  position: absolute;
  margin-left: 5px;
  top: 7px;
}

.dropbtn span {
  position: relative;
  margin-left: 5px;
  top: 1px;
}

.dropbtn:hover {
  cursor: pointer;
}

.informations article {
  max-width: 500px;
  display: inline-block;
  position: relative;
  overflow-wrap: normal;
  white-space: initial;
  text-align: center;
  font-family: "Poppins", sans-serif;
  /* font-size: 1em; */
  padding: 0 2em 0 2em;
  vertical-align: top;
}
.informations article div {
  /* font-size: 100px; */
  color: #000000;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-60%) translateY(-60%);
}

.informations article h2 {
  /* font-size: 2.5vw; */
}

.image-container {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  /*position: absolute;*/
  width: 4700px;
  height: 356px;
  left: 752px;
  top: 300px;

  background: url("../Images/history-timeline.png");

  border-radius: 50px;
}

.question-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 10px;
  background: #ffffff;
  border: 4px solid #0c2e35;
  border-radius: 90px;
  margin: 0 auto;
  display: block;

  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 600;
  /* font-size: 20px; */
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;

  color: #0c2e35;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question-button:hover {
  padding: 1rem;
  transition: padding 0.25s ease;
}

.history-text-container {
  padding-top: 10px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #fff !important;
  font-family: "DynaPuff", cursive;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: #e00096 !important;
  box-shadow: 0 4px 0px #ff8ed9;
  max-height: 46px;
  min-width: 120px;
}

.nav-link:hover {
  background-color: #ff8ed9 !important;
  box-shadow: 0 4px 0px #e00096 !important;
}
/* 
nav {
  background-color: #0c2e35;
  position: fixed;
  width: 80%;
  border-radius: 26px;
  max-height: 75px;
  margin: 10px 0px !important;
  align-items: center !important;
  justify-content: center;

  display: flex;
} */

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10000 !important;
  position: relative;
}

.navbar-brand {
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: 0 0 0 #e00096 !important;
}

.navbar-brand:hover {
  background-color: transparent !important;
  box-shadow: 0 0 0 #e00096 !important;
}

.languageOption {
  margin-left: 1rem;
  /* right: 50px; */
}

.bg-assets {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: -10;
}

#asset-1 {
  position: inherit;
  bottom: 0;
}

#asset-2 {
  position: inherit;
  bottom: -80px;
  left: 30%;
}

#asset-3 {
  position: inherit;
  top: -100px;
  left: -100px;
}

.nav-link {
  padding: 4px 10px;
}

.mobile-map {
  display: none;
}

@media (max-width: 1650px) {
  /* .map-bg {
  width: 100%;
  background-size: 100% !important;
} */
}

.map-bg {
  background-image: url("Images/empty_map.png");
  background-size: 100%;
  /* height: 100vh !important; */
  width: 100%;
  padding-top: 56.25%;
  background-repeat: no-repeat;
}

.popup-button {
  min-width: 300px;
}

#mobile-map-img {
  width: 100%;
}

.accordion {
  --bs-accordion-bg: transparent !important;
  border: none;
}

.accordion-button {
  background-color: transparent !important;
  color: white !important;
  font-size: 2rem;
  font-family: "DynaPuff";
  font-weight: 700;
}

.accordion-item {
  background-color: transparent !important;
}

.location-container {
  height: 0px;
}

@media (max-width: 1400px) {
  .map-bg {
    display: none;
  }

  .mobile-map {
    display: block;
  }

  .location-container {
    margin-top: 10rem;
    height: auto;
  }

  .accordion {
    margin-top: 10px;
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .map-bg {
    display: none !important;
  }

  .location-container {
    /* height: 100px; */
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.25rem;
  }

  a,
  button {
    font-size: 1.5rem;
  }

  .navbar-nav {
    margin-top: 9rem;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    width: 100%;
  }

  .navbar-toggler {
    color: white;
  }

  .navbar {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    padding: 20px 0;
    margin-top: 0px !important;
  }

  .content-wrapper {
    margin-top: 50px;
    padding: 120px 5vw 0;
  }

  .logo {
    transform: translateX(-50%) scale(1);
  }

  #placeholder-item {
    display: none;
  }

  .languageOption {
    top: 25px;
    background-color: #3e8e41;
    border-radius: 20px;
    right: auto;
    margin-left: -5rem;
  }

  .prevLeftSecond {
    visibility: hidden;
  }

  .prev {
    visibility: hidden;
  }

  .next {
    visibility: hidden;
  }

  .nextRightSecond {
    visibility: hidden;
  }

  #map {
    /* padding-left: 0rem; */
  }

  .sketchfab-embed-wrapper {
    width: 100%;
  }

  .instructions {
    width: 80%;
    max-width: 100%;
  }

  .history-page .greeting {
    min-width: 150px;
  }

  .logo {
    width: 15rem;
  }

  .location-container {
    margin-top: 5rem;
    height: auto;
  }

  .header {
    height: 90px;
  }
}

.entrance {
  position: relative;
  top: -65px;
  left: -275px;
}

.entrance p {
  font-family: DynaPuff;
  font-weight: 600;
}

.entrance svg {
  margin-left: 120px;
  width: 175px;
  height: 100px;
}

#warriors-button .info-popup {
  position: relative;
  left: -50px;
}
